@page
@model BelajarBlazor.Pages.LoginModel
@{
}

<form method="post">
    <div>
        <input asp-for="Form.Email" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
